@charset "utf-8";

.username, .password, .directLogin {
	position: relative;
	left: 40%;
	top: 40%;
	width: 200px;
	height: 14px;
}
.username 	{	 }
.password 	{	 }
.directLogin {   }


.loginbutton, .newuserbutton, .contactUs {
	position:fixed;
	width: 90px;
	height: 28px;
	left: 5px;
}
.loginbutton 	{	top:50px;	}
.newuserbutton 	{	top:5px; 	}
.contactUs		{	top: 95px;	}


.logo {
	position: relative;
	left: 30%;
	top: 50%;
}