@charset "utf-8";

.username, .password {
	position:fixed;
	width: 120px;
	left: 716px;
}

.username {
	top:330px;
	height: 19px;
}

.password {
	top:378px;
}

.lbutton {
	position:fixed;
	width: 90px;
	height: 28px;
	left: 752px;
	top:423px;
}

.newuser {
	position:fixed;
	top:505px;
	left: 752px;
}