@CHARSET "UTF-8";

/* OFFICE COMPONENTS*/
.dailyReportIcon {
	position: relative;
	left: 10px;
	top: 4px;
	width: 100px !important;
	height: 20px !important;
}

.tabContainer {}

/* GENERAL COMPONENTS*/
.label, .button, .combo, .field, .scheduler  {	
	font-size: 12px !important;
	font-family: sans-serif !important; 
}
.label {
	width: 100px;
	height: 22px;
}
.button {	height: 22px; }
.combo  {	width: 60px;	height: 30px; }
.field  {	width: 100px;	height: 22px; }


/* SCHEDULER COMPONENTS */
.scheduler {	margin-left:auto;	margin-right:auto; }

/* PATIENT COMPONENTS */

.newPatientPanel {	margin-left:auto;	margin-right:auto; }
 
.patientList {
	margin-left:auto;
	margin-right:auto;
	position: relative;
	top: 10px;
}