@charset "utf-8";

.preferencesPanel, .buttonPanel, .logo,  .schedPrefsPanel{
}

.preferencesPanel {
}
.buttonPanel {
}
.logo {
}
.schedPrefsPanel {
}
.mailcontent {
	width: 400px;
	height: 100px;
}
.userinfo {
	position: relative;
	top: -430px;
	left: 120px;
	font-size: 20px !important;
	font-family: sans-serif !important; 
}