@charset "utf-8";

.userinfo {
	font-size: 20px !important;
	font-family: fantasy,sans-serif !important; 
}

.preferencesPanel {
	position: relative;
	top: 10px;
	left: 10px;
}

.glassPane {
	width: 100px;
	height: 100px;
}

.mailcontent, .prescheader {
	width:100%; 
	font-size: 11px !important;
	font-family: sans-serif !important; 
}
