@charset "utf-8";

.preferencesPanel, .buttonPanel, .logo,  .schedPrefsPanel{}
.buttonPanel {}
.logo {}
.schedPrefsPanel {}

.emailcontent {
	width: 100%
	height: 150px;
}
.userinfo {
	font-size: 20px !important;
	font-family: fantasy,sans-serif !important; 
}

.preferencesPanel {
	position: relative;
	top: 10px;
	left: 10px;
}

.glassPane {
	width: 100px;
	height: 100px;
}